.planets-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 60vh;

    p {
        margin-left: 3rem;
        font-size: 2rem;
        
        .bigger {
            font-size: 1.4em;
        }
    }

    figure {
        position: absolute;
        width: 50%;
        margin: 11rem 0 0 30%;
        top: 0;
        left: 0;
        transform: translate(0) scale(1);
        cursor: pointer;
        overflow: hidden;
        transition: linear 0.4s;

        &:hover {
            transform: translate(0) scale(1.1);
        }

        img {
            width: 80%;
        }

        &.active {
        animation: flyout 4s ease-in forwards;
        }

        &:focus {
            outline: 0;
        }
    }
}

@keyframes flyout {
    0% { transform: translate(0) scale(1.1);}

    70% { transform: translate(0, 50px) scale(0.4); left: -20%; }

    100% { transform: translate(0, -100px) scale(0.3); left: 110%;}
}