.planets-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    p {
        font-size: 1.5rem;
    }

    figure {
        position: relative;
        top: 0;
        left: 0;
        width: 70%;
        margin-left: 20%;
        transform: translate(0) scale(1);
        cursor: pointer;
        overflow: hidden;

        img {
            width: 100%;
        }
        &.active {
        animation: flyout 3s ease-in;
        }
    }
}

@keyframes flyout {
    0% { transform: translate(0) scale(1);}

    60% { transform: translate(-500px, 50px) scale(0.3); }

    100% { transform: translate(-400px, 50px) scale(0.5); left: 110%; }
}