@font-face {
    font-family: "Starjedi";
    src: url("../assets/fonts/starjedi/Starjedi.eot");
    src: 
    url("../assets/fonts/starjedi/Starjedi.woff") format("woff"),
    url("../assets/fonts/starjedi/Starjedi.ttf") format("truetype"),
    url("../assets/fonts/starjedi/Starjedi.svg") format("svg");
}