@font-face {
    font-family: "Starjedi";
    src: url("../assets/fonts/starjedi/Starjedi.eot");
    src: 
    url("../assets/fonts/starjedi/Starjedi.woff") format("woff"),
    url("../assets/fonts/starjedi/Starjedi.ttf") format("truetype"),
    url("../assets/fonts/starjedi/Starjedi.svg") format("svg");
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');