//----------------------
//--- Colors -----------
//----------------------
$main-font-color: #fff200;
$secondary-font-color: #19BCFF;


//----------------------
//--- Fonts ------------
//----------------------
$main-font: "Starjedi";
$common-text-font: 'Roboto';


//----------------------
//--- Sizing -----------
//----------------------
$base-font-size: 10px;