//----------------------
//--- @Imports ---------
//----------------------
@import "./fonts";

//----------------------
//--- Colors -----------
//----------------------
$main-font-color: #fff200;


//----------------------
//--- Fonts ------------
//----------------------
$main-font: "Starjedi";


//----------------------
//--- Sizing -----------
//----------------------
$base-font-size: 10px;