<button class="btn-back" [routerLink]="['/planets/planet-list']"><i class="fas fa-arrow-left"></i> Back</button>
<div class="planet-details-container">
  <h2>{{ planet.name }}</h2>
  <ul>
    <li><i class="fas fa-sync-alt"></i>Rotation Period: <span class="planet-data">{{ planet.rotation_period }} h</span></li>
    <li><i class="fas fa-satellite"></i>orbital Period: <span class="planet-data">{{ planet.orbital_period }} days</span></li>
    <li><i class="fas fa-ruler"></i>Diameter: <span class="planet-data">{{ planet.diameter }} km</span></li>
    <li><i class="fas fa-thermometer-half"></i>Climate: <span class="planet-data">{{ planet.climate }}</span></li>
    <li><i class="fas fa-weight-hanging"></i>Gravity: <span class="planet-data">{{ planet.gravity }}</span></li>
    <li><i class="fas fa-leaf"></i>Terrain: <span class="planet-data">{{ planet.terrain }}</span></li>
    <li><i class="fas fa-tint"></i>Surface Water: <span class="planet-data">{{ planet.surface_water }}</span></li>
    <li><i class="fas fa-male"></i>Population: <span class="planet-data">{{ planet.population }}</span></li>
  </ul>
</div>
